<!DOCTYPE html>
<html>
    <head>       
    </head>
    <body>
        <h1>Welcome to Family History!</h1>
        <br>
        <img src="../../resources/underconstruction.gif">
    </body>   
</html>